.main-board .square {
  height: 60px;
  width: 60px;
}

.history-board .square {
  height: 15px;
  width: 15px;
}

.square {
  display: inline-block;
  background-color: #eaeaea;
  box-sizing: content-box;
}

.square.active {
  background-color: yellow;
}

.black {
  background-color: #333;
}

/* .top {
  border-top: 1px solid #aaa;
}

.btm {
  border-bottom: 1px solid #aaa;
} */

/* .left {
  border-left: 1px solid #aaa;
}

.right {
  border-right: 1px solid #aaa;
} */
